<div class="container d-flex justify-content-center">
  <div class="col-md-5">
    <div class="card shadow round mt-5 text-bg-dark">
      <div class="card-header">
        <h3 class="text-center">LOG-IN</h3>
      </div>

      <div class="card-body">
        <form [formGroup]="formLogin">
          <div class="mb-3">
            <label for="" class="form-label">Username</label>
            <input
              type="text"
              name="username"
              placeholder="Username"
              class="form-control"
              formControlName="username"
            />
          </div>
          <div
            class="form-text text-danger"
            *ngIf="isFormControlInvalid('username')"
          >
            Must contain at least 6 characters!
          </div>

          <div class="mb-3">
            <label for="" class="form-label">Password</label>
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control"
              formControlName="password"
            />
          </div>
          <div
            class="form-text text-danger"
            *ngIf="isFormControlInvalid('password')"
          >
            Must contain at least 6 characters!
          </div>
          <div class="mb-3">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="loginMocked()"
              [disabled]="!formLogin.valid"
            >
              Sign in
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
